.home {
    padding: 1em;
}

.boton {
    font-family: Arial;
    font-size: 20px;
    background: rgb(72, 197, 72);
    color: white;
    padding: 0.3em 1em;
    border: transparent;
    border-radius: 8px;
    box-shadow: 0px 3px 0 grey;
   }

button:hover {
    color: white;
    background-color: lightgreen;
}

.link {
    text-decoration: none;
}