
/* .svg-icon {
    height: 1.5 em;
    width: auto;
} */

.boton {
    font-family: Arial;
    font-size: 20px;
    background: green;
    color: white;
    padding: 0.3em 1em;
    display: flex;
    align-items: center;
    border: transparent;
    border-radius: 8px;
   }

button:hover {
    color: white;
    background-color: lightgreen;
}