.navBar {
    height: 150px;
    display: flex;
    justify-content: center;
}

.name {
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: bold;
    color: black;
    position: relative;
    right: 40rem;
    top: 5rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.navBar {
    height: 150px;
    width: 100rem;
    position: relative;
    border: 0.1rem;
    border-style: solid;
    background-color: rgb(233, 233, 229);
}

div img {
    position: absolute;
    right: 0rem;
    top: 5rem;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}