table {
    width: 90%;
    border-collapse: collapse;
    margin: 3rem;
    font-family: sans-serif;
}

th,
td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover{
    background-color: #aaa;
}

.specialBoton {
  border: none;
  width: 0;
}

.boton {
    font-size: 16px;
    font-weight: bold;
    border: 0px;
    border-radius: 99px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    box-shadow: 0px 3px 0 grey;
}

#IoPencil {
    background-color: rgb(58, 226, 58);
}

#IoTrash {
    background-color: rgb(245, 69, 69);
}